.score {
  /* max-width: 90%;
  margin: 20px;
  border: 1px solid #888; */
  position: relative;
}

.column-header {
  height: 32px;
  color: transparent;
}
.column-header.current {
  color: #000;
}

.cell {
  width: 32px;
  height: 32px;
  border: 1px solid #ccc;
  position: relative;
}

.note {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #54f;
  animation-duration: 500ms;
  /* width: 18px;
  height: 18px;
  border: 1px solid #000;
  border-radius: 100px;
  background-color: #58f;
  position: absolute; */
}
.note:hover {
  background-color: #acf;
}
@keyframes hit {
  from {
    background-color: #f0b;
  }

  to {
    background-color: #54f;
  }
}

.rest {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.rest:hover {
  background-color: #ccc;
}