body {
  font-family: sans-serif;
  background-color: #f8f8f8;
  color: #000;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-xl;
  }
  button {
    @apply bg-teal-800 text-white hover:bg-teal-600 font-bold pt-1.5 pb-1 px-3 rounded;
  }
}